.lang-switcher {
  display: flex;
  align-items: center;
  position: relative;
  gap: 5px;
  z-index: 10;
}

.lang__label {
  text-align: center;
  cursor: pointer;
}

.lang__radio-en,
.lang__radio-ru {
  position: absolute;
  top: 0px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  z-index: 11;
  opacity: 0;
  cursor: pointer;
}

.lang__radio-en {
  right: 20px;
}

.lang__radio-ru {
  left: 20px;
}

.lang__text-en,
.lang__text-ru {
  display: inline-block;
  height: 20px;
  line-height: 20px;  
  cursor: pointer;
  color: inherit;
}

.lang__text-light{
  color: rgb(237, 240, 243);
}
.lang__text-dark {
  color: rgb(19, 18, 18);
}

.switcher-toggle {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: rgb(228, 225, 201);
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000;
}

.switcher-handle {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(225, 212, 196);
  cursor: pointer;
  transition: left 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;

}

.lang__radio-en:checked~.switcher-handle {
  left: 0;
}